.line-container {
  width: 1px;
  height: 44px;
  position: relative;
}

.line {
  position: absolute;
  width: 2px;
  height: 0px;
  background-color: #fffff5; /* Matches your section text color */
  top: 0;
  animation: line-animation 2.5s ease-in-out 0s infinite normal; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line::before {
  content: ' ';
  width: 12px; /* Slightly smaller for better balance */
  height: 12px;
  border-right: 2px solid #fffff5;
  border-bottom: 2px solid #fffff5;
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 0;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal; 
}

@keyframes line-animation {
  0% { height: 0px; top: 0px; opacity: 0; }
  50% { height: 44px; top: 0px; opacity: 0.3; }
  100% { height: 0px; top: 44px; opacity: 0; }
}

@keyframes arrow-animation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}