@import "tailwindcss";

:root {
    --color-off-white: #fffff5;
    --color-blue: #0000fe;
    --color-orange: #e8611d;
    --color-pink: #da328a;
    --color-green: #61b232;
    --font-mono: "Source Code Pro Variable", monospace;
    --spacing-gutter: 3.5vw;
    --transition-speed: 0.4s ease-in-out;
    --nav-height: 15dvh; /* MOBILE NAV HEIGHT */
}

@media (min-width: 768px) {
    :root {
        --nav-height: 15vh; /* DESKTOP NAV HEIGHT OVERRIDE */
    }
}

@layer base {
    html {
        scroll-snap-type: y mandatory; 
        scroll-behavior: smooth;
        overscroll-behavior-y: none;
        height: -webkit-fill-available;
    }

    body {
        background-color: var(--color-off-white);
        font-family: var(--font-mono);
        color: var(--color-blue);
        margin: 0;
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }

    body, .nav-link {
        will-change: color;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: color var(--transition-speed);
    }
}

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

/* --- Section & Scroll Snapping --- */
.color-section {
    /* Snapping logic */
    scroll-snap-align: start;
    scroll-snap-stop: always; /* Forces stop at every section */
    
    /* Height & Containment */
    width: 100%;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;

    /* Layout */
    /* display: flex;
    flex-direction: column; */

    /* Since height is 100dvh, snap to 0 */
    scroll-margin-top: 0;
    /* scroll-margin-top: var(--nav-height); */
}

/* --- SVG Color Sync --- */
.color-section svg, 
.color-section path {
    fill: currentColor;
    stroke: none;
    transition: fill var(--transition-speed);
}

.color-section svg {
    display: block;
    width: 100%;
    height: auto;
}

/* --- Utilities --- */
.hide-scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

/* When the container has the .is-open class, show the child dropdown */
.mobile-dropdown-container.is-open .mobile-dropdown-content {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    visibility: visible;
}