@import "tailwindcss";

@theme {
  /* This creates 'bg-off-white' and 'text-brand-blue' */
  --color-off-white: #fffff5;
  --color-brand-blue: #0000fe;
  
  --font-sans: "Source Code Pro Variable", monospace;
}

/* Custom CSS for the body */
@layer base {
  body {
    background-color: var(--color-off-white);
    color: var(--color-brand-blue);
    font-family: var(--font-sans);
  }
}