<section 
    id="about" 
    data-color="var(--color-blue)" 
    class="color-section px-[3.5vw] min-h-[80vh] snap-start flex flex-col justify-end p-10 md:p-20"
>
    <div class="w-full">
        <span class="block text-xl md:text-2xl font-bold tracking-tighter mb-2">
            About Me
        </span>
        <div class="w-full border-t border-current opacity-20 mb-6"></div>
        <p class="text-base md:text-lg leading-relaxed opacity-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
    </div>
</section>