---
import TrailerCard from '../trailer_card.astro';
import cdv_png from '../../assets/images/cdv.png';
import cdv_svg from '../../assets/vectors/cdv.svg?raw';
---

<section 
    id="cdv-section" 
    data-color="var(--color-orange)" 
    class="color-section h-[calc(100vh-var(--nav-height))] w-full snap-start flex flex-col md:flex-row md:items-center overflow-hidden shrink-0"
    style="scroll-margin-top: var(--nav-height);"
>
    <div class="flex flex-col md:flex-row items-stretch md:items-end w-full h-full md:h-auto md:pb-[4vw]">
        <!-- Still section -->
        <div class="w-full md:w-[42vw] pl-0 pr-[3.5vw] md:pr-0 pt-[6vh] md:pt-0 flex justify-start md:justify-center shrink-0">
            <div class="relative w-fit">
                <TrailerCard 
                    vimeoId="935462533"
                    imageSrc={cdv_png}
                    alt="Chuvas de Verão"
                    color="var(--color-orange)"
                    type="trailer"
                />
                <span class="absolute bottom-0 right-0 translate-y-full text-[8px] md:text-xs tracking-widest">Portugal, 2024</span>
            </div>
        </div>
    
        <!-- SVG section -->
        <div class="w-full md:w-[58vw] px-[3.5vw] md:px-0 md:pr-[3.5vw] md:pl-[1.5vw] flex flex-1 items-center md:items-end overflow-hidden">
            <Fragment set:html={cdv_svg} />
        </div>
    </div>
</section>